<a href="https://colab.research.google.com/github/musharrafhamraz/Python-Problems/blob/main/Pandas_Lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
dict = {
    "friuts": [1,2,3,4],
    "oranges": [1,2,3,4]
}

In [ ]:
df1 = pd.DataFrame(dict, index=['Hello', 'hello','my','name'])
df1

       friuts  oranges
Hello       1        1
hello       2        2
my          3        3
name        4        4

In [ ]:
df1.loc['my']

friuts     3
oranges    3
Name: my, dtype: int64

In [ ]:
df = pd.read_csv('E:\Data Science\DataSets\salary.csv')

In [ ]:
df

,Time,Position,Level,Experience,Technology,Location,Way_of_working,Employees_number,Salary_type,Salary
0,2023-01-22 18:49:36.202,Backend Developer,Mid,1-3 Yıl,Java / Spring,Türkiye,Yerinde / Ofiste,100-300,Türk Lirası,41.000 - 45.000 TL
1,2023-01-22 18:49:38.280,Architect / Mimar,Tanımsız,4-6 Yıl,"React / NextJS, NodeJS, Javascript, React Native",Türkiye,Remote,2000+,Türk Lirası,51.000 - 55.000 TL
2,2023-01-22 18:49:41.383,Frontend Developer,Junior,1-3 Yıl,"React / NextJS, Javascript",Türkiye,Remote,100-300,Türk Lirası,16.000 - 20.000 TL
3,2023-01-22 18:50:19.296,Backend Developer,Mid,4-6 Yıl,Java / Spring,Türkiye,Hybrid,300-1000,Türk Lirası,41.000 - 45.000 TL
4,2023-01-22 18:51:13.644,Fullstack Developer,Junior,0-1 Yıl,"React / NextJS, NodeJS, Javascript",Türkiye,Yerinde / Ofiste,50-100,Türk Lirası,11.000 - 15.000 TL
...,...,...,...,...,...,...,...,...,...,...
1159,2023-01-25 15:28:57.722,Fullstack Developer,Senior,10+ Yıl,"React / NextJS, Angular, Javascript, C# / .NET...",Türkiye,Yerinde / Ofiste,0-10,Türk Lirası,56.000 - 60.000 TL
1160,2023-01-25 17:45:25.320,Backend Developer,Mid,1-3 Yıl,"NodeJS, Javascript, Java / Spring",Türkiye,Hybrid,100-300,Türk Lirası,31.000 - 35.000 TL
1161,2023-01-25 19:24:10.683,Analist,Junior,1-3 Yıl,"SQL, Excel",Türkiye,Remote,300-1000,Türk Lirası,21.000 - 25.000 TL
1162,2023-01-26 14:24:36.607,Fullstack Developer,Mid,1-3 Yıl,"Angular, C# / .NET Framework",Türkiye,Remote,100-300,Türk Lirası,31.000 - 35.000 TL
1163,2023-01-26 16:28:23.767,Backend Developer,Junior,10+ Yıl,PHP / Laravel,Türkiye,Remote,0-10,Türk Lirası,36.000 - 40.000 TL

In [ ]:
df.head()

,Time,Position,Level,Experience,Technology,Location,Way_of_working,Employees_number,Salary_type,Salary
0,2023-01-22 18:49:36.202,Backend Developer,Mid,1-3 Yıl,Java / Spring,Türkiye,Yerinde / Ofiste,100-300,Türk Lirası,41.000 - 45.000 TL
1,2023-01-22 18:49:38.280,Architect / Mimar,Tanımsız,4-6 Yıl,"React / NextJS, NodeJS, Javascript, React Native",Türkiye,Remote,2000+,Türk Lirası,51.000 - 55.000 TL
2,2023-01-22 18:49:41.383,Frontend Developer,Junior,1-3 Yıl,"React / NextJS, Javascript",Türkiye,Remote,100-300,Türk Lirası,16.000 - 20.000 TL
3,2023-01-22 18:50:19.296,Backend Developer,Mid,4-6 Yıl,Java / Spring,Türkiye,Hybrid,300-1000,Türk Lirası,41.000 - 45.000 TL
4,2023-01-22 18:51:13.644,Fullstack Developer,Junior,0-1 Yıl,"React / NextJS, NodeJS, Javascript",Türkiye,Yerinde / Ofiste,50-100,Türk Lirası,11.000 - 15.000 TL

In [ ]:
df.tail()

,Time,Position,Level,Experience,Technology,Location,Way_of_working,Employees_number,Salary_type,Salary
1159,2023-01-25 15:28:57.722,Fullstack Developer,Senior,10+ Yıl,"React / NextJS, Angular, Javascript, C# / .NET...",Türkiye,Yerinde / Ofiste,0-10,Türk Lirası,56.000 - 60.000 TL
1160,2023-01-25 17:45:25.320,Backend Developer,Mid,1-3 Yıl,"NodeJS, Javascript, Java / Spring",Türkiye,Hybrid,100-300,Türk Lirası,31.000 - 35.000 TL
1161,2023-01-25 19:24:10.683,Analist,Junior,1-3 Yıl,"SQL, Excel",Türkiye,Remote,300-1000,Türk Lirası,21.000 - 25.000 TL
1162,2023-01-26 14:24:36.607,Fullstack Developer,Mid,1-3 Yıl,"Angular, C# / .NET Framework",Türkiye,Remote,100-300,Türk Lirası,31.000 - 35.000 TL
1163,2023-01-26 16:28:23.767,Backend Developer,Junior,10+ Yıl,PHP / Laravel,Türkiye,Remote,0-10,Türk Lirası,36.000 - 40.000 TL

In [ ]:
df.shape

(1164, 10)

In [ ]:
df.describe(include='object')

,Time,Position,Level,Experience,Technology,Location,Way_of_working,Employees_number,Salary_type,Salary
count,1164,1164,1164,1164,1164,1164,1164,1164,1164,1164
unique,1164,110,4,5,356,2,3,8,22,20
top,2023-01-22 18:49:36.202,Backend Developer,Junior,1-3 Yıl,C# / .NET Framework,Türkiye,Remote,10-30,Türk Lirası,11.000 - 15.000 TL
freq,1,292,446,438,113,1033,600,217,1015,210

In [ ]:
df.dtypes

Time                object
Position            object
Level               object
Experience          object
Technology          object
Location            object
Way_of_working      object
Employees_number    object
Salary_type         object
Salary              object
dtype: object

In [ ]:
df.columns

Index(['Time', 'Position', 'Level', 'Experience', 'Technology', 'Location',
       'Way_of_working', 'Employees_number', 'Salary_type', 'Salary'],
      dtype='object')

In [ ]:
df.isnull().sum()

Time                0
Position            0
Level               0
Experience          0
Technology          0
Location            0
Way_of_working      0
Employees_number    0
Salary_type         0
Salary              0
dtype: int64

In [ ]:
x = df['Location']
x

0       Türkiye
1       Türkiye
2       Türkiye
3       Türkiye
4       Türkiye
         ...
1159    Türkiye
1160    Türkiye
1161    Türkiye
1162    Türkiye
1163    Türkiye
Name: Location, Length: 1164, dtype: object

In [ ]:
x = df['Location']
print(type(x))

<class 'pandas.core.series.Series'>

In [ ]:
y = df[['Salary', 'Location', 'Position']]
y

                  Salary Location             Position
0     41.000 - 45.000 TL  Türkiye    Backend Developer
1     51.000 - 55.000 TL  Türkiye    Architect / Mimar
2     16.000 - 20.000 TL  Türkiye   Frontend Developer
3     41.000 - 45.000 TL  Türkiye    Backend Developer
4     11.000 - 15.000 TL  Türkiye  Fullstack Developer
...                  ...      ...                  ...
1159  56.000 - 60.000 TL  Türkiye  Fullstack Developer
1160  31.000 - 35.000 TL  Türkiye    Backend Developer
1161  21.000 - 25.000 TL  Türkiye              Analist
1162  31.000 - 35.000 TL  Türkiye  Fullstack Developer
1163  36.000 - 40.000 TL  Türkiye    Backend Developer

[1164 rows x 3 columns]

In [ ]:
df.iloc[0,0]

'2023-01-22 18:49:36.202'

In [ ]:
df.loc[0, 'Position']

'Backend Developer'

In [ ]:
df.iloc[0:4, 0:3]

                      Time            Position     Level
0  2023-01-22 18:49:36.202   Backend Developer       Mid
1  2023-01-22 18:49:38.280   Architect / Mimar  Tanımsız
2  2023-01-22 18:49:41.383  Frontend Developer    Junior
3  2023-01-22 18:50:19.296   Backend Developer       Mid

TypeError: 'method' object is not subscriptable